# Data munging with dplyr

### Stephen Elston
### Data Science 350

## Introduction

Data rarely arrives in the form we need for analysis. In fact, it is has been estimated that data scientists spend 80% of their time preparing data. This process of integrating and filtering data is commonly know as data munging. 

This notebook contains exercises in using dplyr for data munging. The R dplyr package contains a widely used, powerful, flexible and efficient set of functions for data munging. Further, dplyr uses a regular gramar for defining complex data munging pipelines.

## Why dplyr?

As already stated dplyr is a powerful, flexible and efficient R package, specifically designed for data munging. The dplyr package is a subset of the Tidyverse group of data munging and utilitity packages https://cran.r-project.org/web/packages/tidyverse/index.html  



Excellent documentation is available for the dplyr package:
- An introduciton to dplyr can be found at http://rstudio-pubs-static.s3.amazonaws.com/11068_8bc42d6df61341b2bed45e9a9a3bf9f4.html 
- The dplyr cheat sheet is an excellent summary and quick reference for dplyr and some other Tidyverse packages: https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf 
- A number of special topics are covered in the several vignettes you can find in CRAN: https://cran.r-project.org/web/packages/dplyr/index.html

## Load the Data Set

Use the code in the cell below to load the data set. **Make sure you have the .csv file in your working directory!**

In [2]:
read.auto = function(file = 'Automobile price data _Raw_.csv'){
  ## Read the csv file
  auto.price <- read.csv(file, header = TRUE, 
                      stringsAsFactors = FALSE)

  ## Coerce some character columns to numeric
  numcols <- c('price', 'bore', 'stroke', 'horsepower', 'peak.rpm')
  auto.price[, numcols] <- lapply(auto.price[, numcols], as.numeric)

  ## Remove cases or rows with missing values. In this case we keep the 
  ## rows which do not have nas. 
  auto.price[complete.cases(auto.price), ]
}
auto.price = read.auto()

Warning message in lapply(auto.price[, numcols], as.numeric):
"NAs introduced by coercion"Warning message in lapply(auto.price[, numcols], as.numeric):
"NAs introduced by coercion"Warning message in lapply(auto.price[, numcols], as.numeric):
"NAs introduced by coercion"Warning message in lapply(auto.price[, numcols], as.numeric):
"NAs introduced by coercion"Warning message in lapply(auto.price[, numcols], as.numeric):
"NAs introduced by coercion"

## Verbs in dplyr

The dplyr package contains a large number of operators, called verbs, which you can apply to a data frame. The name of each verb is indicative of the action the operator will take. For example, you can apply a boolean filter to the rows of a data fram with the `filter` verb. 

Each dplyr verb uses a regular gramar or syntax. This means that you don't have to remember a lot of syntactic detail to use dplyr. The basic gramar of each dplyr verb is:

$$df.result = verb\_name(df, arguments)$$

where `df` is the original data frame, and `arguments` are the one or more arguments to the operator. Thats all there is to it! 

In the rest of this section you will apply some of the most commonly used dplyr verbs to the data set.

### Filter the data set

Here is an example to make this a bit more concrete. The code below applies a dpyr filter to the auto pricing data. The result will only be the cases or rows of autos made by the Audi company. 

Notice that you can just type the name of the column(s) you need for your boolean filter. You do not need any quotes, or the usual R `df$make` or df[, 'make'] notation. This syntax saves you a lot of typing when you used dplyr compared to the conventional R notation. Additionally, you gain speed and scalability from the more efficient dplyr implementation of the verbs. 

Execute the code in the cell below and note the result.

In [3]:
require(dplyr)
df = filter(auto.price, make == 'audi')
df

Loading required package: dplyr

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

  symboling normalized.losses make fuel.type aspiration num.of.doors body.style
1 2         164               audi gas       std        four         sedan
2 2         164               audi gas       std        four         sedan
3 2         ?                 audi gas       std        two          sedan
4 1         158               audi gas       std        four         sedan
5 1         ?                 audi gas       std        four         wagon
6 1         158               audi gas       turbo      four         sedan
  drive.wheels engine.location wheel.base ... engine.size fuel.system bore
1 fwd          front            99.8      ... 109         mpfi        3.19
2 4wd          front            99.4      ... 136         mpfi        3.19
3 fwd          front            99.8      ... 136         mpfi        3.19
4 fwd          front           105.8      ... 136         mpfi        3.19
5 fwd          front           105.8      ... 136         mpfi        3.19
6 fwd          front           105.8      ... 131         mpfi        3.13
  stroke compression.ratio horsepower peak.rpm city.mpg highway.mpg price
1 3.4    10.0              102        5500     24       30          13950
2 3.4     8.0              115        5500     18       22          17450
3 3.4     8.5              110        5500     19       25          15250
4 3.4     8.5              110        5500     19       25          17710
5 3.4     8.5              110        5500     19       25          18920
6 3.4     8.3              140        5500     17       20          23875

The printed output shows the 6 cases of autos made by Audi in the data set. Autos made by all other manufacturers have been filtered out.

**Your turn!** Create and execute the code in the cell below to filter for autos with 4wd type drive wheels.

In [4]:
filter(auto.price, drive.wheels == '4wd')

  symboling normalized.losses make   fuel.type aspiration num.of.doors
1 2         164               audi   gas       std        four
2 2         83                subaru gas       std        two
3 0         102               subaru gas       std        four
4 0         102               subaru gas       turbo      four
5 0         85                subaru gas       std        four
6 0         85                subaru gas       turbo      four
7 0         81                toyota gas       std        four
8 0         91                toyota gas       std        four
  body.style drive.wheels engine.location wheel.base ... engine.size
1 sedan      4wd          front           99.4       ... 136
2 hatchback  4wd          front           93.3       ... 108
3 sedan      4wd          front           97.0       ... 108
4 sedan      4wd          front           97.0       ... 108
5 wagon      4wd          front           96.9       ... 108
6 wagon      4wd          front           96.9       ... 108
7 wagon      4wd          front           95.7       ...  92
8 wagon      4wd          front           95.7       ...  92
  fuel.system bore stroke compression.ratio horsepower peak.rpm city.mpg
1 mpfi        3.19 3.40   8.0               115        5500     18
2 2bbl        3.62 2.64   8.7                73        4400     26
3 2bbl        3.62 2.64   9.0                82        4800     24
4 mpfi        3.62 2.64   7.7               111        4800     24
5 2bbl        3.62 2.64   9.0                82        4800     23
6 mpfi        3.62 2.64   7.7               111        4800     23
7 2bbl        3.05 3.03   9.0                62        4800     27
8 2bbl        3.05 3.03   9.0                62        4800     27
  highway.mpg price
1 22          17450
2 31           7603
3 25           9233
4 29          11259
5 29           8013
6 23          11694
7 32           7898
8 32           8778

### Take slice from data frame

You have just selected cases from a data set based  on a logical relationship. You can also select rows, or cases, using the row number with the  `slice` function. Run the code in the cell below to select a subset of rows.

In [5]:
df.slice = slice(auto.price, 20:30)
df.slice

   symboling normalized.losses make      fuel.type aspiration num.of.doors
1   0        81                chevrolet gas       std        four
2   1        118               dodge     gas       std        two
3   1        118               dodge     gas       std        two
4   1        118               dodge     gas       turbo      two
5   1        148               dodge     gas       std        four
6   1        148               dodge     gas       std        four
7   1        148               dodge     gas       std        four
8   1        148               dodge     gas       turbo      ?
9  -1        110               dodge     gas       std        four
10  3        145               dodge     gas       turbo      two
11  2        137               honda     gas       std        two
   body.style drive.wheels engine.location wheel.base ... engine.size
1  sedan      fwd          front            94.5      ...  90
2  hatchback  fwd          front            93.7      ...  90
3  hatchback  fwd          front            93.7      ...  90
4  hatchback  fwd          front            93.7      ...  98
5  hatchback  fwd          front            93.7      ...  90
6  sedan      fwd          front            93.7      ...  90
7  sedan      fwd          front            93.7      ...  90
8  sedan      fwd          front            93.7      ...  98
9  wagon      fwd          front           103.3      ... 122
10 hatchback  fwd          front            95.9      ... 156
11 hatchback  fwd          front            86.6      ...  92
   fuel.system bore stroke compression.ratio horsepower peak.rpm city.mpg
1  2bbl        3.03 3.11   9.60               70        5400     38
2  2bbl        2.97 3.23   9.41               68        5500     37
3  2bbl        2.97 3.23   9.40               68        5500     31
4  mpfi        3.03 3.39   7.60              102        5500     24
5  2bbl        2.97 3.23   9.40               68        5500     31
6  2bbl        2.97 3.23   9.40               68        5500     31
7  2bbl        2.97 3.23   9.40               68        5500     31
8  mpfi        3.03 3.39   7.60              102        5500     24
9  2bbl        3.34 3.46   8.50               88        5000     24
10 mfi         3.60 3.90   7.00              145        5000     19
11 1bbl        2.91 3.41   9.60               58        4800     49
   highway.mpg price
1  43           6575
2  41           5572
3  38           6377
4  30           7957
5  38           6229
6  38           6692
7  38           7609
8  30           8558
9  30           8921
10 24          12964
11 54           6479

The 11 row slice has been sub-selected from the data frame.

### Random sample a data frame

Data scientists often need randomly chosen subsets of data. Using the dplyr `sample_frac` and `sample_n` functions allow you randomly sample a fraction or a number of rows respectively. Run the code in the cell below to take a random sample of 1/2 of the rows in the `df.slice` data frame.

In [6]:
df.rand = sample_frac(df.slice, 0.5)
df.rand

   symboling normalized.losses make      fuel.type aspiration num.of.doors
5   1        148               dodge     gas       std        four
7   1        148               dodge     gas       std        four
9  -1        110               dodge     gas       std        four
4   1        118               dodge     gas       turbo      two
10  3        145               dodge     gas       turbo      two
1   0        81                chevrolet gas       std        four
   body.style drive.wheels engine.location wheel.base ... engine.size
5  hatchback  fwd          front            93.7      ...  90
7  sedan      fwd          front            93.7      ...  90
9  wagon      fwd          front           103.3      ... 122
4  hatchback  fwd          front            93.7      ...  98
10 hatchback  fwd          front            95.9      ... 156
1  sedan      fwd          front            94.5      ...  90
   fuel.system bore stroke compression.ratio horsepower peak.rpm city.mpg
5  2bbl        2.97 3.23   9.4                68        5500     31
7  2bbl        2.97 3.23   9.4                68        5500     31
9  2bbl        3.34 3.46   8.5                88        5000     24
4  mpfi        3.03 3.39   7.6               102        5500     24
10 mfi         3.60 3.90   7.0               145        5000     19
1  2bbl        3.03 3.11   9.6                70        5400     38
   highway.mpg price
5  38           6229
7  38           7609
9  30           8921
4  30           7957
10 24          12964
1  43           6575

Examine the result, with 6 (approximately 1/2 of 11) of 11 original rows.

### Select columns

Now, say that we really only want a few attributes, or columns, from the Audi car data. Run the code in the cell below to `select` the columns listed.

In [7]:
df2 = select(df, drive.wheels, wheel.base, curb.weight, horsepower, price)
df2

  drive.wheels wheel.base curb.weight horsepower price
1 fwd           99.8      2337        102        13950
2 4wd           99.4      2824        115        17450
3 fwd           99.8      2507        110        15250
4 fwd          105.8      2844        110        17710
5 fwd          105.8      2954        110        18920
6 fwd          105.8      3086        140        23875

The columns listed have been selected from the full Audi data set.

What if you only wish to remove a few columns from the data set? You do not need to list all the columns you want, which could be a large number. Instead, just prefix the names of the columns you wish to eliminate with the '-' operator.

**Your Turn:** Use the dplyr `select` verb to remove three columns (`symboling`, `normalized.losses`, `engine.size`) from the data frame `df`. Examine and verify the result.

In [9]:
temp = select(df,-symboling, -normalized.losses, -engine.size)
dim(temp)
temp

[1]  6 23

  make fuel.type aspiration num.of.doors body.style drive.wheels
1 audi gas       std        four         sedan      fwd
2 audi gas       std        four         sedan      4wd
3 audi gas       std        two          sedan      fwd
4 audi gas       std        four         sedan      fwd
5 audi gas       std        four         wagon      fwd
6 audi gas       turbo      four         sedan      fwd
  engine.location wheel.base length width ... num.of.cylinders fuel.system bore
1 front            99.8      176.6  66.2  ... four             mpfi        3.19
2 front            99.4      176.6  66.4  ... five             mpfi        3.19
3 front            99.8      177.3  66.3  ... five             mpfi        3.19
4 front           105.8      192.7  71.4  ... five             mpfi        3.19
5 front           105.8      192.7  71.4  ... five             mpfi        3.19
6 front           105.8      192.7  71.4  ... five             mpfi        3.13
  stroke compression.ratio horsepower peak.rpm city.mpg highway.mpg price
1 3.4    10.0              102        5500     24       30          13950
2 3.4     8.0              115        5500     18       22          17450
3 3.4     8.5              110        5500     19       25          15250
4 3.4     8.5              110        5500     19       25          17710
5 3.4     8.5              110        5500     19       25          18920
6 3.4     8.3              140        5500     17       20          23875

Examine the data frame printed above. Notice that the columns listed with the `-` operator have been eliminated.

### Arrange rows in a data frame

You have learned how to select the rows and columns from a data frame. But what if you want to reorder the rows in a data frame. You can use the dplyr `arrange` verb to reorder the rows. Execute the code in the cell below to sort the data frame first by drive wheels and then by auto price, and examine the result.

In [10]:
df2 = arrange(df2, drive.wheels, price)
df2

  drive.wheels wheel.base curb.weight horsepower price
1 4wd           99.4      2824        115        17450
2 fwd           99.8      2337        102        13950
3 fwd           99.8      2507        110        15250
4 fwd          105.8      2844        110        17710
5 fwd          105.8      2954        110        18920
6 fwd          105.8      3086        140        23875

### Compute a new column

Often you will need a column computed using the values of one or more columns in the original data set. The dplyr `mutate` verb allows you to efficiently add a new computed column to your data frame. Run the example below to add a colummn with the auto weight in killograms, rather than pounds, and the weight in pounds per unit of hoursepower.

In [11]:
df4 = mutate(df2, curb.weight.kg = curb.weight / 2.205, weight.horsepower = curb.weight / horsepower)
select(df4, curb.weight, curb.weight.kg, weight.horsepower)

  curb.weight curb.weight.kg weight.horsepower
1 2824        1280.726       24.55652
2 2337        1059.864       22.91176
3 2507        1136.961       22.79091
4 2844        1289.796       25.85455
5 2954        1339.683       26.85455
6 3086        1399.546       22.04286

In the results printed above you can see the the curb weight of each Audi car in pounds and killograms, and the weight per unit of horsepower.

If you don't want to retain the orriginal columns from your calculation you can use the `transmute` verb. If you which to apply the same function to every column use the `:mutate_each` verb, which is similar to the standard R `lapply`.

### Compute summaries of a data frame

Very often in data analysis you will need to compute summuary statstics for your data set. The dplyr `summary` function is designed just of this purpose. Run the code in the cell below to compute some summary statistics of a data frame.

In [12]:
summarise(df4, mean.curb.weight = mean(curb.weight, na.rm = TRUE), sd.curb.weight = sd(curb.weight, na.rm = TRUE), 
         max.curb.weight = max(curb.weight), min.curb.weight = min(curb.weight))

  mean.curb.weight sd.curb.weight max.curb.weight min.curb.weight
1 2758.667         282.1316       3086            2337

The summary statistics for the Audi cars are computed and displayed.

### Count cases

Another useful way to summarize data is by counts. The dplyr `count` verb lets you do just this. Run the code in the cell below to compute the counts of autos by body style and number of cylinders.

In [14]:
count(auto.price, body.style, num.of.cylinders)

   num.of.cylinders body.style  n
1  eight            convertible  1
2  eight            hardtop      1
3  eight            sedan        2
4  five             hardtop      1
5  five             sedan        7
6  five             wagon        2
7  four             convertible  4
8  four             hardtop      4
9  four             hatchback   56
10 four             sedan       71
11 four             wagon       20
12 six              convertible  1
13 six              hardtop      2
14 six              hatchback    6
15 six              sedan       13
16 six              wagon        2
17 three            hatchback    1
18 twelve           sedan        1

The summary of the original data frame by counts shows that there are a few popular configurations, like four cylinder hatachbacks, and many one or few of a kind configurations.

**Your Turn:**  Now that you have a bit of experience with some of the most common dplyr verbs, try the following. Compute the weights of the autos made by Dodge in killograms, and the horse power of the auto per killogram of weight. Hint, you will need to use the `mutate` verb twice.

In [15]:
temp = filter(auto.price, make == 'dodge')
temp = mutate(temp, weight.kg = curb.weight / 2.2)
temp = mutate(temp, weight.kg.hp = weight.kg / horsepower)
temp

  symboling normalized.losses make  fuel.type aspiration num.of.doors
1  1        118               dodge gas       std        two
2  1        118               dodge gas       std        two
3  1        118               dodge gas       turbo      two
4  1        148               dodge gas       std        four
5  1        148               dodge gas       std        four
6  1        148               dodge gas       std        four
7  1        148               dodge gas       turbo      ?
8 -1        110               dodge gas       std        four
9  3        145               dodge gas       turbo      two
  body.style drive.wheels engine.location wheel.base ... bore stroke
1 hatchback  fwd          front            93.7      ... 2.97 3.23
2 hatchback  fwd          front            93.7      ... 2.97 3.23
3 hatchback  fwd          front            93.7      ... 3.03 3.39
4 hatchback  fwd          front            93.7      ... 2.97 3.23
5 sedan      fwd          front            93.7      ... 2.97 3.23
6 sedan      fwd          front            93.7      ... 2.97 3.23
7 sedan      fwd          front            93.7      ... 3.03 3.39
8 wagon      fwd          front           103.3      ... 3.34 3.46
9 hatchback  fwd          front            95.9      ... 3.60 3.90
  compression.ratio horsepower peak.rpm city.mpg highway.mpg price weight.kg
1 9.41               68        5500     37       41           5572  852.7273
2 9.40               68        5500     31       38           6377  852.7273
3 7.60              102        5500     24       30           7957  967.2727
4 9.40               68        5500     31       38           6229  894.0909
5 9.40               68        5500     31       38           6692  904.0909
6 9.40               68        5500     31       38           7609  904.0909
7 7.60              102        5500     24       30           8558  995.9091
8 8.50               88        5000     24       30           8921 1152.2727
9 7.00              145        5000     19       24          12964 1277.7273
  weight.kg.hp
1 12.540107
2 12.540107
3  9.483066
4 13.148396
5 13.295455
6 13.295455
7  9.763815
8 13.094008
9  8.811912

## Chaining Verbs

You have expored some of the most commonly used dplyr verbs. By now, you should have a feel for the syntax used. Next, you will learn how to chain verbs to create complex data munging operations. 

The syntax of dplyr supports a chaining operator, `%>%`. With the chaining operator you chain together a data frame and any number of verbs to create a complex data mungig operation. The basic gramar is really simple:

$$result = df\ \%>\%\ verb1(arguments)\ \%>\%\ verb2(arguments)\ \%>\% ...$$

Where `df` is your data frame. Notice that you only need to specify `df` at the start of the chain. You only need to specify the arguments of the verbs in the chain, as the data frame name is implicit. Additionally, the operations are applied to each intermediate result without creating data frame copies. This execution model makes the verb chain fast and efficient, and reduces the chance of running out of memory, a frequent source of frustration with R.

### A first verb chain

You will now apply a dplyr verb chain to compute the same result you achieved before with two distinct steps. The verb chain shown below selects autos made by Audi with the `filter` verb and then selcts 5 columns from that result. Notice the simple gramar of the verb chain. 

Run this code and examine the result.

In [16]:
df2 = auto.price %>% 
        filter(make == 'audi') %>% 
        select(drive.wheels, wheel.base, curb.weight, engine.size, price)
df2

  drive.wheels wheel.base curb.weight engine.size price
1 fwd           99.8      2337        109         13950
2 4wd           99.4      2824        136         17450
3 fwd           99.8      2507        136         15250
4 fwd          105.8      2844        136         17710
5 fwd          105.8      2954        136         18920
6 fwd          105.8      3086        131         23875

Compare this result to the one you saw before. The result is exactly the same as you achieved with applying two verbs in two seperate steps. 

The above chain only uses two verbs. However, a verb chain can use any number of verbs you need.

**Your Turn:** In a previous exercise you compute the weights of the autos made by Dodge in killograms, and the horse power of the autos per killogram of weight. Preform this same set of operations using a verb chain. Compare the results. Is there any difference?

In [17]:
temp = auto.price %>% filter(make == 'dodge') %>%
       mutate(weight.kg = curb.weight / 2.2) %>%
       mutate(weight.kg.hp = weight.kg / horsepower)
temp

  symboling normalized.losses make  fuel.type aspiration num.of.doors
1  1        118               dodge gas       std        two
2  1        118               dodge gas       std        two
3  1        118               dodge gas       turbo      two
4  1        148               dodge gas       std        four
5  1        148               dodge gas       std        four
6  1        148               dodge gas       std        four
7  1        148               dodge gas       turbo      ?
8 -1        110               dodge gas       std        four
9  3        145               dodge gas       turbo      two
  body.style drive.wheels engine.location wheel.base ... bore stroke
1 hatchback  fwd          front            93.7      ... 2.97 3.23
2 hatchback  fwd          front            93.7      ... 2.97 3.23
3 hatchback  fwd          front            93.7      ... 3.03 3.39
4 hatchback  fwd          front            93.7      ... 2.97 3.23
5 sedan      fwd          front            93.7      ... 2.97 3.23
6 sedan      fwd          front            93.7      ... 2.97 3.23
7 sedan      fwd          front            93.7      ... 3.03 3.39
8 wagon      fwd          front           103.3      ... 3.34 3.46
9 hatchback  fwd          front            95.9      ... 3.60 3.90
  compression.ratio horsepower peak.rpm city.mpg highway.mpg price weight.kg
1 9.41               68        5500     37       41           5572  852.7273
2 9.40               68        5500     31       38           6377  852.7273
3 7.60              102        5500     24       30           7957  967.2727
4 9.40               68        5500     31       38           6229  894.0909
5 9.40               68        5500     31       38           6692  904.0909
6 9.40               68        5500     31       38           7609  904.0909
7 7.60              102        5500     24       30           8558  995.9091
8 8.50               88        5000     24       30           8921 1152.2727
9 7.00              145        5000     19       24          12964 1277.7273
  weight.kg.hp
1 12.540107
2 12.540107
3  9.483066
4 13.148396
5 13.295455
6 13.295455
7  9.763815
8 13.094008
9  8.811912

### Use group_by in a verb chain

Next you will use a verb chain which includes the dplyr `group_by` verb. While you can use `group_by` in a simple line of code, the power of this operator really shines when used in a verb chain. 

For example, say you want to compare some summary statistics of auto prices organized by type of drive wheels. The code in the cell below does just this. The dplyr count function `n()` is used to compute the number of cases in each group. Execute this code and examine the result.

In [18]:
auto.price %>% group_by(drive.wheels) %>% 
    summarise(count = n(), mean.price = mean(price, na.rm = TRUE), sd.price = sd(price, na.rm = TRUE), 
         max.price = max(price), min.price = min(price))

  drive.wheels count mean.price sd.price max.price min.price
1 4wd            8   10241.000  3288.211 17450     7603
2 fwd          116    9238.741  3374.314 23875     5118
3 rwd           71   20137.197  9180.504 45400     6785

**Your Turn** Here is one final challange for you. Create a dplyr verb chain to compute the count, mean weight, standard deviation, maximum weight, minimum weight for toyota autos grouped by body style.

In [24]:
auto.price %>% filter(make == 'toyota') %>% 
    group_by(body.style) %>% 
    summarise(count = n(), mean.weight = mean(curb.weight, na.rm = TRUE), sd.weight = sd(curb.weight, na.rm = TRUE), 
         max.weight = max(curb.weight), min.weight = min(curb.weight)) %>%
    arrange(mean.weight)

  body.style  count mean.weight sd.weight max.weight min.weight
1 sedan       10    2337.500    308.68511 3131       2081
2 hatchback   14    2369.929    339.63611 3016       1985
3 hardtop      3    2585.000     81.43095 2679       2536
4 wagon        4    2707.750    488.45360 3151       2280
5 convertible  1    2975.000          NaN 2975       2975

#### Copyright 2017, Stephen F Elston. All rights reserved.